version: '3.8'
services:
  app:
    image: php:8.2-fpm
    container_name: komo_app
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    depends_on:
      - db
  db:
    image: mysql:8
    container_name: komo_db
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: komo_shop
    ports:
      - "3306:3306"
  nginx:
    image: nginx:alpine
    container_name: komo_nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
